<div class="feature-grid">

  <div class="row clear feature-grid__row feature-grid__row--first">
    
    <div class="col col-4 tablet-col-4 mobile-full hfx-item feature-grid__panel feature-grid__panel--product feature-grid__panel--alpha">
      <figure class="effect-romeo">
        <img src="/images/placeholder/suits_480_360.jpg" />
        <figcaption>
          <div class="banner">
            <div class="banner__text-container">
              <h2 class="banner__text">Suits</h2>
            </div>
          </div>    
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
    
    <div class="col col-4 tablet-col-4 mobile-full feature-grid__panel feature-grid__panel--intro">
      <div class="feature-grid__intro-header">
        <div class="banner">
            <div class="banner__text-container">
              <h2 class="banner__text">Our&nbsp;Products</h2>
            </div>
          </div> 
      </div>  
    </div>
    
    <div class="col col-4 tablet-col-4 mobile-full hfx-item feature-grid__panel feature-grid__panel--product feature-grid__panel--beta">
      <figure class="effect-romeo">
        <img src="/images/placeholder/belts_480_360.jpg" />
        <figcaption>
          <div class="banner">
            <div class="banner__text-container">
              <h2 class="banner__text">Belts</h2>
            </div>
          </div> 
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
  
  </div>

  <div class="row clear feature-grid__row">
    <div class="col col-4 tablet-col-4 no-mobile feature-grid__panel">
      &nbsp;
    </div>
    <div class="col col-4 tablet-col-4 mobile-full hfx-item feature-grid__panel feature-grid__panel--product feature-grid__panel--delta">
      <figure class="effect-romeo">
        <img src="/images/placeholder/supplements_480_360.jpg" />
        <figcaption>
          <div class="banner">
            <div class="banner__text-container">
              <h2 class="banner__text">Supplements</h2>
            </div>
          </div> 
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
    <div class="col col-4 tablet-col-4 no-mobile feature-grid__panel">
      &nbsp;
    </div>
  </div>

  <div class="col col-12 tablet-col-12 mobile-full">
    
    <a href="#">View shop</a>

  </div>

  <div class="row clear feature-grid__row">
    <div class="col col-8 tablet-col-8 mobile-full feature-grid__panel feature-grid__panel--static-image">
      <img src="http://lorempixel.com/output/sports-q-g-960-360-1.jpg" alt="">
      <span class="tool-kit__panel-arrow tool-kit__panel-arrow--left tool-kit__panel-arrow--top tool-kit__panel-arrow--hide-mobile"></span>
    </div>
    <div class="col col-4 tablet-col-4 mobile-full feature-grid__panel">
      &nbsp;
    </div>
  </div>

</div>