// Sprite - Glyph
$S-glyph: 				url(/images/sprites/sprite-glyph.png);
$S-glyph-2x-size: 274px;

$S-glyph-alpha-x: 0;
$S-glyph-alpha-y: 0;

$S-glyph-beta-x: 	0;
$S-glyph-beta-y: 	-59px;

$S-glyph-delta-x: 0;
$S-glyph-delta-y: -122px;

$S-glyph-intro-x: 0;
$S-glyph-intro-y: -187px;
